<h1>New PhoneRow</h1>
<form action="/phoneBook/create" method="POST">

	Name: <input name="name" type="text"/> <br />
	PhoneNumber: <input name="phoneNumber" type="number"/> <br />
	<input type="submit"/>
</form>